*.vapi
*.deps
!libyaml-1.0.vapi
libyaml-glib-example
*.[cho]
*.l[ao]
Makefile.in
Makefile
autotools
!autotools/*.m4
.libs
.deps
.dirstamp
configure
config.*
dolt*
aclocal.m4
autom4te.cache
libtool
stamp-h1
vala-ccode
vala-doc
_inst
!libyaml/
*.pc
